/* public/styles/base.css */

:root{
    --background-dark: #88160a;
    --background: #a4dcee;
    --background-light: #e7f7fb;
    --body: #161616;
    --panel: lightgrey;
    --body-font: 14px/1.5 Vidaloka, OdorMeanChey;
    --link: silver;
    --menu: #18222b;
    --menu-active: #ee8395;
    --playlist-part:rgb(175, 175, 175);
    --playlist-color: black;
    --playlist-clicked: white;
    --playlist-clicked-bg: #cf3952;
    --color: rgb(230, 230, 230);
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--link);
}

a:hover{
    opacity: .7;
}

.region{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 50px;
}
  
html{
    color: var(--color);
    font: var(--body-font);
    background: var(--body);
}